
  {% load static %}
  {% block headerinclude%}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	
	<link rel='stylesheet'  href='/static/css/customerReg.css' />

  {% endblock headerinclude %}


  {% block footerinclude %}
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

  {% endblock footerinclude %} 

{% block content %}

<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><i class="fa fa-heartbeat"></i>ABC <b>PHARMA</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>  

	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse">		
		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="dashboard"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
			<li><a href="registration_med"><i class="fa fa-medkit"></i><span>Medicine</span></a></li>
			
		</ul>
	</div>
</nav>
</head>

<div class="signup-form">


		<form id = "form1"  action="" method="POST" autocomplete="off" enctype="multipart/form-data">
              {% csrf_token %}

		<h2>Customer Registration</h2>
		<p class="hint-text">Fill in personal information.</p>


		

        <div class="form-group">
			<div class="row">
				<div class="col-xs-4"><input type="text"  maxlength="25" class="form-control" name="firstname" placeholder="Firstname" required="required"></div>
				<div class="col-xs-4"><input type="text"  maxlength="25" class="form-control" name="lastname" placeholder="Lastname" required="required"></div>
				<div class="col-xs-4"><input type="text"  maxlength="25" class="form-control" name="middlename" placeholder="Middle Initial"></div>
			</div>        	
        </div>
		
        <div class="form-group">
			    <div class="row">
		        <div class="col-xs-12"><input type="text"  maxlength="25" class="form-control" name="address" placeholder="Address" required="required"></div>
	    	    </div>        	
        </div>
	
         <div class="form-group">
			<div class="row">
				<div class="col-xs-4"><p>Birth Date</p><input type="date" class="form-control" name="bdate" required="required"></div>
				<div class="col-xs-4"><p>Gender</p><select name="gender" class="form-control" id="id_gender" required="required">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select></div>

				<div class="col-xs-4"><p>Status</p><select name="status" class="form-control" id="id_status">
					<option value="Single">Single</option>
					<option value="Married">Married</option>
					<option value="Widow">Widow/er</option>
					<option value="Divorced">Divorced</option>
				</select></div>
             </div>
	    </div>
		
         <div class="form-group">
			<div class="row">
				<div class="col-xs-4"><p>Spouse Name</p><input type="text"  maxlength="25" class="form-control" name="spouse_name" placeholder="Spouse Name"></div>
				<div class="col-xs-4"><p>Spouse Occupation</p><input type="text" maxlength="12" class="form-control" name="spouse_occupation" placeholder="Spouse Occupation"></div>
				<div class="col-xs-4"><p>Number of Children</p><input type="number" value="0" min=0 max=12  oninput="validity.valid||(value='');" class="form-control" name="no_children" placeholder="No. of children"></div>
			</div>        	
        </div>
		
         <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input type="text"  maxlength="25" class="form-control" name="mothers_name" placeholder="Mother's name "></div>
				<div class="col-xs-6"><input type="text"  maxlength="25" class="form-control" max="25" name="mothers_occupation" placeholder="Mother's Occupation"></div>
			</div>        	
        </div>


       
         <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input type="text" maxlength="25" class="form-control" name="fathers_name" placeholder="Father's name "></div>
				<div class="col-xs-6"><input type="text" maxlength="25" class="form-control" name="fathers_occupation" placeholder="Father's Occupation"></div>
			</div>        	
        </div>

        
         <div class="form-group">
			<div class="row">
				<div class="col-xs-4"><p>Height</p><input type="number" value="0.0" step=0.01 min="0" class="form-control" name="height" placeholder="Height"></div>
				<div class="col-xs-4"><p>Weight</p><input type="number" value="0.0" step=0.01 min="0" class="form-control" name="weight" placeholder="Weight"></div>
			    <div class="col-xs-4"><p>Religion</p><input type="text" maxlength="10" class="form-control" name="religion" placeholder="Religion"></div>

			</div>        	
        </div>


         <div class="form-group">
        	<p>Upload Images</p>
			<div class="row">
				<div class="col-xs-4"><input type="file" class="form-control" name="profile_pic" value="fileupload" id="fileupload"> </div>
			</div>        	
        </div>   


		<div class="form-group">
			<div class="row">
            <div class="col-xs-6"><button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button></div>
            <div class="col-xs-6"><button type="cancel" class="btn btn-primary btn-lg btn-block">Cancel</button></div>
        	</div>
        </div>
     </form>
</div>
 
{% endblock content %}


